services:
  - type: web
    name: jeroen-linkedin-tool
    env: docker
    plan: free
    branch: main
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 3000
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: true
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/google-chrome-stable
